body{
    background-color:rgb(153, 153, 255);
    border-radius:200px;
    display:flex;
    height: 100%;
}
.profile{
   height: 100%;
    width:25%;
    background-color: aliceblue;
    border-radius: 10px;
}
img{
    padding:5%;
    border-radius: 50%;
    height:50px;
    width:50px;
    display:inline
}
.head{
    display: flex;
}
.color{
    color:rgb(236, 134, 250);
}
hr{
     height:3px;
     width:65%;
     background-color:rgb(153, 153, 255);
}
.fa-calendar, .prof, .fa-calendar-check-o, .fa-gear{
    padding-top: 10%;
    padding-left:15%;
    padding-right: 5%;
}
.task{

    font-size: 20px;
}
.filter{
    padding-left:30%;
    font-size: 20px;
    spacing:0;
}
#red{
    color:pink;
    font-size: 20px;
}
#blue{
    color:rgb(5, 62, 248);
    font-size: 20px;
}
#yellow{
    color:rgb(253, 237, 10);
    font-size: 20px;
}
.blur{
    color: grey;
    opacity: 0.6;
}
.main{
    width:100%;
}
h1{
margin:70px 10px; 
}
.top{
    background-color: aqua;
    width:75%;
    margin:40px auto;
    height:50px;
    border-radius: 10px;
}
.tasks{
    background-color:whitesmoke;
    width:70%;
    height:50px;
    border-radius: 10px;
    margin: 15px auto;
}
.circle