body{
    background-image: url(images/img1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height:100%;
    width:100%;
}
h1{
    text-align: center;
    color: white;
    font-family: monospace;
}